/* home page */
#Maindiv {
  border: 2px solid red;
  width: 100%;
  height: 750px;
  background-image: url("./Images/javygo-mnItwT1ogBM-unsplash.png");
}

a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}

.adiv {
  margin-left: 30%;
  padding-top: 50px;
  display: flex;
}

#navdiv {
  display: flex;
  background-color: #000000;
  box-sizing: border-box;
}

.pic {
  width: 200px;
  height: 90px;
  padding-left: 200px;
}

.pic1 {
  padding-top: 5px;
  width: 20px;
  height: 20px;
}

.chat {
  color: white;
  border: 3px solid red;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  margin-left: 40px;
  margin-top: 0px;
  position: relative;
  bottom: 15px;
}

.chattext {
  padding: 5px;
}

.hometext1 {
  color: white;
  text-align: center;
  box-shadow: 2px 2px 5px green;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgb(163, 128, 196);
  width: 25%;
  margin-left: 37.5%;
  padding: 5px;
  font-weight: bolder;
  font-size: larger;
  margin-top: 100px;
}

.hometext2 {
  color: rgb(222, 216, 243);
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px 5px rgb(35, 245, 52);
}

.homepagetext3 {
  text-align: center;
  color: white;
  display: flex;
  width: 10%;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 10px;
  margin-left: 45%;
  border-radius: 20px;
  background-color: black;
  box-shadow: 2px 2px 2px red;
}

.homepagetext3:hover {
  cursor: pointer;
}

.chattext1 {
  color: white;
  margin-left: 5px;
}

/* car category */
.categoryhead {
  width: 100%;
  padding: 15px 15px 0px 15px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.categoryunderline {
  width: 15%;
  margin-left: 42.5%;
}

#cards {
  width: 75%;
  margin-left: 12.5%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.cardiv {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  width: 31%;
  height: 300px;
  margin: 10px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #6F6CB4, #38365A);
}

.cardiv {
  cursor: pointer;
}

.categorypic {
  width: 320px;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.view {
  border: 3px solid rgb(184, 125, 239);
  width: 25%;
  margin-left: 37.5%;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 20px;
  font-weight: bolder;
  border-radius: 5px;
}

.view:hover {
  cursor: pointer;
}

/* who we are */

#whomaindiv {
  width: 75%;
  margin-left: 12.5%;
  display: block;
  height: 450px;
}

.whohead {
  width: 75%;
  margin-left: 12.5%;
  box-sizing: border-box;
  font-weight: bolder;
  padding: 5px;
}

.whotext {
  width: 55%;
  box-sizing: border-box;
  height: 500px;
  padding: 10px;
  font-size: 18px;
}

.whopic {
  width: 33%;
  height: 300px;
  position: absolute;
  left: 54%;
  top: 1580px;
  box-sizing: border-box;
}

.whoblock {
  width: 33%;
  height: 170px;
  border: 1px solid #6F6CB4;
  position: absolute;
  left: 54%;
  top: 1870px;
  box-sizing: border-box;
}

.whocarpic {
  width: 470px;
  height: 280px;
  box-sizing: border-box;
  padding-left: 20px;
}

.blockhead {
  display: flex;
}

.vision {
  box-sizing: border-box;
  padding: 5px;
  width: 150px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: #6F6CB4;
}

.boxtext {
  box-sizing: border-box;
  padding: 5px;
  padding-top: 10px;
}

/* Download app */

#appdownload {
  background-image: linear-gradient(to bottom, #6F6CB4, #38365A);
  width: 100%;
  height: 550px;
  box-sizing: border-box;
  display: flex;
}

#apptext {
  color: white;
  width: 45%;
  margin-left: 12.5%;
  padding-top: 120px;

}

.apppic1 {
  width: 170px;
  height: 100px;
}

.apppic2 {
  width: 170px;
  height: 70px;
  margin-bottom: 17px;
}

.downloadimage {
  width: 30%;
}

.mobileimage {
  width: 420px;
  height: 530px;
  padding-top: 5px;
}

/* welcome to Quickzet Fleet Technology PVT. LTD */
#welcome {
  margin-top: 50px;
}
#fourblock {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-left: 12.5%;
  padding-left: 2.5%;
  box-sizing: border-box;
}
.fourblock1 {
  width: 55%;
  height: 250px;
  box-sizing: border-box;
}
.fourblock2 {
  width: 40%;
  height: 250px;
  box-sizing: border-box;
}
.fourblock3 {
  width: 40%;
  height: 255px;
  box-sizing: border-box;
}
.fourblock4 {
  width: 55%;
  height: 255px;
  box-sizing: border-box;
}
.wagon {
  width: 500px;
  height: 280px;
}